/* VARIABLES*/
:root {
/* primary colors */
--dark-cyan: hsl(158, 36%, 37%);
--cream: hsl(30, 38%, 92%);
--dark-green: hsl(158, 69%, 14%);

/* neutral */

--very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

body{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cream);
    min-height: 100vh;
}

h2{
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 2rem;
    color: var(--very-dark-blue);
}

button{
    width: 100%;
    height: 2.7rem;
    background-color: var(--dark-green);
    border-style: none;
    border-radius: 0.5rem;
}

.card {
    width: 650px;
    border-radius: 0.7rem;
    overflow: hidden;
}

.card-container{
    display: flex;
    justify-content: space-between;    
}

.info{
    width: 50%;
    padding: 2rem;
    background-color: var(--White);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.picture {
    content: url("./images/image-product-desktop.jpg");
    width: 50%;
}

.font-mont{
    font-family: Montserrat;
}

.font-fraun{
    font-family: Fraunces;
}

.product{
    font-weight: 700;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: var(--Dark-grayish-blue);    
}

.description {
    font-weight: 500;
    letter-spacing: 0;
    color: var(--Dark-grayish-blue);
    line-height: 1.4rem;
}

.price {
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: var(--dark-cyan);
}

.price b {
    font-weight: 500;
    font-size: 0.8rem;
    padding-left: 1.5rem;
    color: var(--Dark-grayish-blue);
    text-decoration-line: line-through;
}

.icon {
    color: white;
    display: flex;    
    justify-content: center;
}

.icon img {
    padding-right: 0.7rem;
} 



@media screen and (max-width: 580px) {
   
    .card {
        padding: 1.6rem;
        justify-content: stretch;
    }

    .card-container {
        flex-direction: column;
        width: 100%;       
    }

    .picture.mobile{
        width:50%;
        height: 250px;
    }

    .picture {
        content: url("./images/image-product-mobile.jpg");
    }

    p{
        padding-bottom: 1.2rem;
    }

    h2{
        padding-bottom: 1.2rem;
    }
    
}
